PORT=3003
NODE_ENV=development
MONGODB_URL=<YOUR_MONGO_DB_URL>/media-service?retryWrites=true&w=majority
REDIS_URL=redis://redis:6379
KAFKA_BROKER=kafka:9092
JWT_SECRET=
CLOUDINARY_URL=
CLOUDINARY_ENV_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
